/* CompanyList.module.css */
.container {
  width: 70%;
  margin: 0 auto;
}

.companyContainer {
  display: flex;
  justify-content: space-between;
}

.companyItem {
  width: calc(33.33% - 20px); /* Adjust width and spacing as needed */
  margin-bottom: 20px;
}

.companyItem img {
  width: 100%;
  height: auto;
}

.description {
  padding: 10px;
}

.description h2 {
  margin-top: 0;
}

.description p {
  margin-bottom: 0;
}

  