.wrapper {
    width: 400px;
    background-color:red;

}
.wrapper h1{
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;

}
.wrapper form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper.input-box{
    position: relative;
    width: 50%;
    margin-bottom: 20px;
    background-color:rgb(26, 164, 155);
}
