@import url('https://fonts.googleapis.com/css2?family=Wellfleet&display=swap');

*{



}

body {
  margin: 0;
  font-family: "Wellfleet", monospace;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.noto-traditional {
  font-family: "Noto Traditional Nushu", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}